.main-nav li {
    text-align: center;
    margin: 10px auto;
  list-style: none;
  overflow: hidden;
  background: #111
}

li{
    float: top;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: rgb(47, 34, 25);
  }
  

    .responsive{
     margin-right: 50%;
     margin-left: 34%;
     padding: 10px;
     display: flex;
     flex-direction: column;
     max-width: 80px ;
    
     
     
  }
    .product-info{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1em;
    margin-left: 8%;
    background-color: white;
    }

   .product-info:hover{
    background-color: rgb(175, 177, 102);
   }
 